{# src/OC/PlatformBundle/Resources/views/Advert/list.html.twig #}

{% block stylesheets %}
    <style>
        .list { padding: 10px; }
        {#.odd { background-color: rgba(255, 69, 0, 0.3); }
        .even { background-color: rgba(0,186,255, 0.3); }#}
    </style>
{% endblock %}

    {% for advert in listAdverts %}


        <div class="list {{ cycle(['odd', 'even'], loop.index0) }}">
            <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                <h3>{{ advert.title }}</h3>
            </a>
            <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

            <div class="well">
                {{ advert.content }}
            </div>
        </div>

        {% if not loop.last %} <hr> {% endif %}

    {% endfor %}
